<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title> title </title>

</head>
<body>
	<section>
		<h1>Index Page</h1>
		<br>

		<h3 class="text-center">⭐ Explore Category list! ⭐</h3>

		<center>
			<hr class="divider">
		</center>

		<br>

		<div class="container">
			<div class="row">
				<div th:each="cd : ${categories}" class="col-md-6 col-lg-3 mb-2">
					<div class="card shadowed-1 h-100 border-0 animation">
						<div class="card-body">
							<p>Name: [(${cd.name})]</p>
							<p>Description: [(${cd.description})]</p>

							<a th:href="@{/product/{id}(id=${cd.categoryId})}" class="btn btn-info col-12 mt-2 mb-2 d-flex justify-content-center">View Details</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>

		<h3 class="text-center">⭐ Explore our products! ⭐</h3>

		<center>
			<hr class="divider">
		</center>

		<br>

		<div class="container">

			<div class="row">

				<div th:each="p : ${products}" class="col-md-6 col-lg-3 mb-2">

					<div class="card shadowed-1 h-100 border-0 animation">
						<div class="card-body">
							<p>Name: [(${p.name})]</p>
							<p>Description: [(${p.description})]</p>
							<p>Quantity: [(${p.quantity})]</p>

							<div class="col col-sm-6 text-end">
								<span class=" fs-13 ">Price: [(${#numbers.formatDecimal(p.price,
									0, 'COMMA', 0, 'POINT')})]</span>
							</div>

							<div class="container text-center">
								<a th:href="@{/product/detail/{id}(id=${p.productId})}" class="btn btn-info col-12 mt-2 mb-2 d-flex justify-content-center">View Details</a>
							</div>

							<div class="container text-center">
								<button th:unless="${user!=null} and ${user.role == 'ROLE_ADMIN'}" type="button"
										class="btn primary-background text-white col-12">Add to
									Cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>