<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title> title </title>

</head>
<body>
<section>
    <h1>Category Product Page</h1>
    <br>

    <h3 class="text-center">⭐ List Product! ⭐</h3>

    <center>
        <hr class="divider">
    </center>

    <br>

    <div class="container">
        <div  class="row">
            <div th:each="product : ${products}" class="col-md-6 col-lg-3 mb-2">
                <div class="card shadowed-1 h-100 border-0 animation">
                    <div class="card-body">
                        <p>Name: [(${product.name})]</p>
                        <p>Description: [(${product.description})]</p>
                        <p>Quantity: [(${product.quantity})]</p>
                        <p>Price: [(${#numbers.formatDecimal(product.price,0, 'COMMA', 0, 'POINT')})]</p>
                        <div th:unless="${user!=null and user.role.getRoleName() == 'ROLE_ADMIN'}" class="container text-center">
                            <form th:action="@{'/cart/add/' + ${product.productId} + '/' + 1}" method="post">
                                <button type="submit" class="btn primary-background text-white col-12">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</section>


</body>
</html>