<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title> title </title>

</head>
<body>
<section>
    <h1>Product detail Page</h1>
    <br>

    <h3 class="text-center">⭐ Detail Product! ⭐</h3>

    <center>
        <hr class="divider">
    </center>

    <br>

    <div class="container">
        <div class="row">
                <div class="card shadowed-1 h-100 border-0 animation">
                    <div class="card-body">
                        <p>Name: [(${product.name})]</p>
                        <p>Description: [(${product.description})]</p>
                        <p>Quantity: [(${product.quantity})]</p>
                        <p>Price: [(${#numbers.formatDecimal(product.price,
                            0, 'COMMA', 0, 'POINT')})]</p>
                        <div class="container text-center">
                            <button th:unless="${user!=null} and ${user.role == 'ROLE_ADMIN'}" type="button"
                                    class="btn primary-background text-white col-12">Add to
                                Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
</section>


</body>
</html>